.portfolio-item {
    margin-bottom: 30px;
}
.show-bc{
    float: right;
}
.show-pagination{
    margin-bottom: 5px; 
}
.pagination {
    margin-bottom: 30px;
}
.card.h-100 .profile-img {
    max-height: 230px;
    overflow: hidden;
}
.portfolio-item{
    transition: all 1s ease;
}
.portfolio-item.opacity{
    opacity: 0;
}
.loading{
    font-size: 2em;
    color:white;
    height: 25wh;
    margin-top:4em; 
}